<section class="banner">
  <div class="banner-container">
    <img src="/assets/hero_banner_img.avif" alt="Hero Banner">
    <div class="banner-btn">
      <a href="/collection">
        <button class="font-secondary btn-font-bold ">VIEW THE COLLECTION</button>
      </a>
    </div>
  </div>
</section>
