<section class="section-collection">
  <h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 17 17" fill="none">
      <path fill="#6B38F1" d="M8.5 16s-.5-2.7-2.64-4.86c-.28-.28-.57-.53-.87-.76C3.05 8.88 1 8.5 1 8.5s2.72-.5 4.86-2.64c.3-.3.58-.64.87-1.03C8.18 2.75 8.5 1 8.5 1s.5 2.72 2.64 4.86c.28.28.57.53.87.76C13.95 8.13 16 8.5 16 8.5s-2.72.5-4.86 2.64c-.3.3-.58.64-.87 1.03C8.82 14.25 8.5 16 8.5 16Z"/>
    </svg>
    LATEST COLLECTION
    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 17 17" fill="none">
      <path fill="#6B38F1" d="M8.5 16s-.5-2.7-2.64-4.86c-.28-.28-.57-.53-.87-.76C3.05 8.88 1 8.5 1 8.5s2.72-.5 4.86-2.64c.3-.3.58-.64.87-1.03C8.18 2.75 8.5 1 8.5 1s.5 2.72 2.64 4.86c.28.28.57.53.87.76C13.95 8.13 16 8.5 16 8.5s-2.72.5-4.86 2.64c-.3.3-.58.64-.87 1.03C8.82 14.25 8.5 16 8.5 16Z"/>
    </svg>
  </h1>

  <div class="grid">
    <a href="https://ket.club/">
      <div class="item" style="background-image: url('/assets/ket_club.jpg');">
        <p>KET.CLUB</p>
      </div>
    </a>
    <a href="/collection">
      <div class="item" style="background-image: url('/assets/shuffle_essentials.webp');">
        <p>BASIC DROP</p>
      </div>
    </a>
  </div>
</section>
